@font-face {
    font-family: 'My Font Regular';
    font-style: 'normal';
    src: local('My Font Regular'), local('MyFont-Regular'), url('MyFont-Regular.ttf');
}

.dolce {
    font-family: 'My Font Regular', sans-serif;
    font-size: 150%;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.05);
    border: 0px;
    border-radius: 0px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'My Font Regular', sans-serif;
    color: white;
    font-size: 125%;
    border-radius: 0px;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'My Font Regular', sans-serif;
    color: white;
    font-size: 125%;
}

.form-control::placeholder {
    font-style: italic;
    color: rgb(75, 75, 75);
    font-size: 125%;
}

.sq {
    width: 50%;
    height: 150px;
    border: 1px solid rgb(75, 75, 75);
}

.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.3);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.3);
}
